<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    <div style="text-align: center;">
      QRCODE - MOTO QR 
    </div>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="position: middle;">
  <div id="container" style="margin: 2%;" class="form-control login" padding>  
    <div style="text-align:center;margin:10%;">
      <img src="/assets/slides/3.png" alt="40px" height="280px">
    </div>
    
    <div class="row" style="text-align:center">
    <ion-button  size="small" color="danger" type="submit">Enviar via Email</ion-button>
    <ion-button  size="small" color="primary" type="submit">Download</ion-button>
    </div>
  </div>
</div>
</ion-content>
