<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div style="text-align: center;">
        PERFIL - MOTO QR 
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container" style="margin: 2%;" class="form-control login" padding>  
    <div style="text-align:center;margin:10%;">
      <img style="border-radius: 50%" src="/assets/users/user2.jpg" alt="40px" height="180px">
    </div>

    <h5 style="text-align: center">Informações Pessoais</h5>
    
    <div style="display:none;">
      <ion-input id="id" type="hidden"></ion-input>
    </div>

    <ion-item>
      <ion-label position="fixed">Nome:</ion-label>
      <ion-input id="nome" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">CPF:</ion-label>
      <ion-input id="cpf" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Endereço:</ion-label>
      <ion-input id="endereco" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Idade:</ion-label>
      <ion-input id="idade" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Naturalidade:</ion-label>
      <ion-input id="naturalidade" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Email:</ion-label>
      <ion-input id="email" ></ion-input>
    </ion-item>

    <h5  style="text-align: center">Referências Médicas:</h5>

    <ion-item>
      <ion-label position="fixed">Sangue:</ion-label>
      <ion-input id="sangue" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Convénio:</ion-label>
      <ion-input id="convenio" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea id="obsmed" row="5"></ion-textarea>
    </ion-item>

    <h5 style="text-align: center">Contatos de Emergência</h5>

    <ion-item>
      <ion-label position="fixed">Contato 1:</ion-label>
      <ion-input id="cont1" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Contato 2:</ion-label>
      <ion-input id="cont2" ></ion-input>
    </ion-item>

    <ion-button (click)="editUsuario()"  size="small" color="danger" type="submit" expand="block">Editar Cadastro</ion-button>
    <ion-button (click)="goBack()" size="small" color="primary" type="submit" expand="block"><ion-icon name="enter-outline"></ion-icon> Logout</ion-button>

  </div>
</ion-content>
