    <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides>

        <ion-slide>
          <div class="slide">
            <img src="/assets/logo.PNG"/>
            <img src="/assets/icon/logo.PNG"/>
            <h2>Bem Vindo ao Moto-QR</h2>
            <p>Nossa missão é disponibilizar informações pessoais e médicas através da leitura de um QR CODE anexado ao capacete do motociclista!</p><p>Arraste pro lado e veja como é fácil!</p>
          </div>
        </ion-slide>

        <ion-slide>
          <img src="/assets/slides/2.png" alt="10px" height="40px"/>
          <h2>Faço o Cadastro</h2>
          <p><b>É bem simples!</b> Quanto mais informações forem disponibilizadas mais seguro você fica!</p>
        </ion-slide>

        <ion-slide>
            <img src="/assets/slides/3.png" alt="10px" height="40px"/>
          <h2>QR Code</h2>
          <p>Após a confirmação do cadastro, a Moto-QR vai gerar um QR Code pra você. Você pode salvar e imprimir na gráfica mais próxima no formato adesivo!</p>
        </ion-slide>

        <ion-slide>
            <img src="/assets/slides/4.png" alt="10px" height="40px"/>
            <h2>Cole o QR Code</h2>
            <p>Recomendamos colar o QR Code na parte frontal do seu capacete!</p>
            <ion-button (click)="goLogin()" fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
          </ion-slide>
      </ion-slides>
    </ion-content>
  